.App {
  background-color: aliceblue;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgb(231, 231, 244);
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-content-container {
  display: flex;
  justify-content: center;
  width: 100%
}

#new-tweet {
  height: 100px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px
}

.tweet {
  height: auto;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px
}

#main-feed-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  height: 100px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px
}