.App {
  background-color: aliceblue;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgb(231, 231, 244);
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-content-container {
  display: flex;
  justify-content: center;
  width: 100%
}

.form-wrap {
  height: auto;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;

}

.tweet {
  height: auto;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px
}

#main-feed-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  height: 100px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px
}

.nav-button {
  border: none;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.input {
  width: 100%;
  height: 32px;
  margin-right: 4px;
  font-size: 16px;
  border-color:aliceblue;
  border-radius: 8px;
  border-style: solid;
}

.submit-btn {
  height: 38px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 4px;
  font-size: 16px;
  border-style: solid;
  border-radius: 8px;
  border-color: aliceblue;
  background-color: aliceblue;
  flex-basis: content;
  
}

.submit-btn:hover {
  background-color: rgb(197, 214, 229);
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}