.App {
  background-color: aliceblue;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgb(231, 231, 244);
}

.main-content-container {
  display: flex;
  justify-content: center;
  width: 100%
}

#new-tweet {
  height: 250px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

#main-feed-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}